*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
**/google_maps_api.xml
shapeofview
TODO.txt
app/release

# Bazel local dirs
bazel-bin
bazel-out
bazel-Terra
bazel-testlogs
